.tabs-wrapper {margin-bottom: 20px;}
div#content ul.tabs, ul.tabs {overflow:hidden;border-bottom: 1px solid #ddd;list-style: none;margin: 0;padding: 0;}
ul.tabs li {border: 1px solid #ddd;	border-bottom: 0;display: inline;float: left;margin: 0 -1px -1px 0;padding: 1px;}
ul.tabs a {display: block;padding: 0 10px;color: #666;padding: 6px 9px;font-size: 11px;	font-weight: bold;line-height: 14px;white-space: nowrap;cursor:pointer}
ul.tabs a:hover {background: #fff;text-decoration: none;}
ul.tabs li a.current {color: #333;cursor: default;border-bottom:0;}
.tabs-wrapper .panes {border: 1px solid #ddd;border-top: 0;margin: 0;padding: 10px 15px;background: #fff;}
.tabs-wrapper .panes > div{display:none;}

.accordion {border:1px solid #9d9d9d;margin-bottom:20px;}
.accordion .pane {border-bottom:1px solid #e3e3e3;display:none;padding:10px 15px;font-size:12px;overflow: hidden;background-color:#FFFFFF;}
.accordion-toggle {border-top:1px solid #9d9d9d;}
.accordion-toggle:first-child {border-top:none}
.accordion-toggle.current{border-bottom:1px solid #9d9d9d;}
.accordion .pane:last-child {border-top:1px solid #ddd;border-bottom:none;}
.toggle {overflow: hidden;margin-bottom:20px;background-color:#FFFFFF;border:1px solid #ddd}
.accordion-toggle, .toggle_title {color:#FFFFFF;margin:0;padding:5px 0 5px 0;font-size:12px;line-height:15px;text-indent:30px;background:url("../images/bg-accordion.png") no-repeat scroll left -55px #212121;cursor:pointer;}
.accordion .current, .acctogg_active {background:url("../images/bg-accordion.png") no-repeat scroll left 8px #212121}
.toggle_content {padding:10px 10px 10px 10px;margin-top:5px;margin-left:5px;display:none;}
