/* Global Properties
 ------------------------------------------------------------------------*/
body {font-family:Arial, Helvetica, sans-serif;font-size:12px;line-height:20px;font-weight:normal;text-align:left;}

/* Link style */
a { text-decoration:none; }
a:hover { text-decoration:underline; }
/* Headings styles */
h1, h2, h3, h4, h5, h6 {font-weight: normal;margin-bottom:0.3em;}
#logo-container h1{margin:0;}
h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }
h1 a , h2 a, h3 a, h4 a, h5 a, h6 a {text-decoration:none;}
h1 a:hover , h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { text-decoration:none; }
/* Basic styles */
strong, th, thead td { font-weight: bold; }
cite, em, dfn { font-style: italic; }
code, kbd, samp, pre, tt, var, input[type=text], input[type=password], input[type=email], textarea { font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace; }
strong, b { }
code, pre {display: block;white-space: pre;}
del { text-decoration: line-through; }
ins, dfn { border-bottom: 1px solid #ccc; }
small, sup, sub { font-size: 85%; }
abbr, acronym { text-transform: uppercase; letter-spacing: .1em; }
a abbr, a acronym { border: none; }
abbr[title], acronym[title], dfn[title] { cursor: help; }
sup { vertical-align: super; }
sub { vertical-align: sub; }
p, ul, ol, dl, table, fieldset, blockquote, pre, code {	margin-bottom: 20px;}

/* Forms */
button, input[type="reset"], input[type="button"], input[type="submit"] { line-height:normal !important; }
input[type="text"], textarea {font-size: 12px;background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.05) 100%) repeat scroll 0 0 transparent;border: 1px solid #7E7E7E;box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1) inset;}
label {font-size:11px;text-transform:uppercase;}
input, textarea {padding:8px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
textarea { line-height:20px; }
input[type="submit"].submit {width: 0;overflow: visible;display:inline;cursor:pointer;font-size:12px;margin:5px;font-weight:bold;padding:9px 16px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;text-align:center;border:none;color:#fff;text-shadow:0 1px 0 #333;}
html > body input[type=submit].submit {width:auto;}
.ultimate_form textarea{width:90%;}
.ultimate_form label.error{	color:red;	margin-top:5px;	margin-bottom:2px;	width:100%;	float:left;}

/* Pre / code */
code, pre {
white-space: pre-wrap; /* css-3 */
white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap; /* Opera 7 */
word-wrap: break-word; /* Internet Explorer 5.5+ */
	}
/* Prettify */
.pln{color:#000}@media screen{.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun,.opn,.clo{color:#660}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec,.var{color:#606}.fun{color:red}}@media print,projection{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun,.opn,.clo{color:#440}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}pre.prettyprint{padding:2px;border:1px solid #888}ol.linenums{margin-top:0;margin-bottom:0}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}


.clearboth{clear: both;display: block;font-size: 0px;height: 0px;line-height: 0;width: 100%;overflow:hidden;}
.roundbox{-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;border-radius:10px;margin:0 0 20px 0;min-height:45px;}
.boxinner{padding:10px;}
.cornerbox{margin:0 0 20px 0;min-height:45px;}
.infobox{margin:0 0 20px 0;border-width:1px 1px 1px 5px;min-height:45px;}
.button, .button span {display: inline-block;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.button {white-space: nowrap;line-height:1em;position:relative;outline: none;overflow: visible;cursor: pointer;border: 1px solid #999;border: rgba(0, 0, 0, .2) 1px solid;border-bottom:rgba(0, 0, 0, .4) 1px solid;-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);box-shadow: 0 1px 2px rgba(0,0,0,.2);background: -moz-linear-gradient(center top,rgba(255, 255, 255, .1) 0%,	rgba(0, 0, 0, .1) 100%);background: -webkit-gradient(linear,center bottom,center top,from(rgba(0, 0, 0, .1)),to(rgba(255, 255, 255, .1)));filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000');-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')";-moz-user-select: none;-webkit-user-select:none;-khtml-user-select: none;user-select: none;}
a.button, a.button:hover {text-decoration: none;}
.button:hover, .button.hover {background: -moz-linear-gradient(center top,rgba(255, 255, 255, .2) 0%,rgba(255, 255, 255, .1) 100%);background: -webkit-gradient(linear,	center bottom,center top,from(rgba(255, 255, 255, .1)),to(rgba(255, 255, 255, .2)));filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF');-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')";}
.button:active, .button.active {top:1px;background: -moz-linear-gradient(center top,rgba(0, 0, 0, .1) 0%,rgba(255, 255, 255, .1) 100%);background: -webkit-gradient(linear,center bottom,center top,from(rgba(255, 255, 255, .1)),to(rgba(0, 0, 0, .1)));filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19000000', EndColorStr='#19FFFFFF');-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19000000', EndColorStr='#19FFFFFF')";}
.button span.bspan {position: relative;color:#fff;text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);border-top: rgba(255, 255, 255, .2) 1px solid;line-height:1em;text-decoration:none;white-space: nowrap;}
.button.small span.bspan span.icon{	margin:0.4em 0.1em ;}
.button.medium span.bspan span.icon{margin:0.25em 0.1em ;}
.button.large span.bspan span.icon{margin:0.15em 0.1em ;}
.buttontext {padding:0.6em 1.3em 0.6em 0;}
.buttontext-noicon {padding:0.6em 1.3em;}
.button.small span.bspan {font-size:12px;}
.button.medium span.bspan {font-size:14px;}
.button.large span.bspan {font-size:18px;}
.buttonhover, .buttonnorm {display:none;}
/* lists */
ul.iconizedlist{list-style:none;padding:0;}
ul.iconizedlist li {font-size:14px;line-height:24px;margin-bottom:5px;}
ul.iconizedlist li span.list-span { margin-right:5px;}
/*Dropcaps*/
.dropcap {float: left;text-align: center;overflow:hidden;font-size: 2.6em;line-height: 1em;width: 1em;margin:0 2px -4px 0;}
.dropcap.round {background: -moz-linear-gradient(center top,rgba(255, 255, 255, .1) 0%,	rgba(0, 0, 0, .1) 100%);background: -webkit-gradient(linear,center bottom,center top,from(rgba(0, 0, 0, .1)),to(rgba(255, 255, 255, .1)));filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000');-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')";-webkit-border-radius: 360px;-moz-border-radius:360px;border-radius:360px;float: left;text-align: center;overflow:hidden;font-size: 2.6em;line-height: 1em;width: 1em;margin:0 6px -4px 0;padding:2px;}
/*quotes*/
blockquote {font-family: Georgia,"Times New Roman",Times,serif;font-size: 16px;color:#444;line-height: 24px;padding: 10px 20px 10px 45px;background:url("../images/quote-l.png") no-repeat scroll 3px 6px transparent;}
blockquote p {margin-bottom:8px;}
blockquote.full  p:last-child {background: url("../images/quote-r.png") no-repeat scroll 100% 100% transparent;}
blockquote.alignleft {margin: 10px 20px 0 0;width: 220px;float:left}
blockquote.alignright {margin: 10px 0 0 20px;width: 220px;float:right}
blockquote cite {color: #666;font-size: 12px;float:right;padding-right:45px;}
h2.post-header a.post-title{border:none;}
div.social a {margin-right:3px;}

a.button, a.button:hover { font-weight:normal}
.image_overlay {position:absolute;top:0;left:0;height:100%;width:100%;visibility:hidden;overflow: hidden;}
.image_zoom .image_overlay {background:url("../images/icon_zoom.jpg") no-repeat scroll 50% 50% #000000;filter: alpha(opacity = 70);}
.image_play .image_overlay {background:url("../images/icon_play.jpg") no-repeat scroll 50% 50% #000000;filter: alpha(opacity = 70);}